<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Hay Aksi!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sayfa Bulunamadı!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Ana Sayfaya Götür </a>
                </div>
            </div>
        </div>
    </div>
</div>
